{include file="header"}
<!--引入css样式文件-->
<link rel="stylesheet" href="_PUBLIC_/static/index/css/courseDetail.css">

<div class="img_box">
    <img src="_PUBLIC_static/index/img/course.jpg" alt="" class="top_img">
</div>
<div class="container" style="margin-top: 40px" >
    <div class="col-md-8">
        <div class="course">
            <h4 class="header">课程简介</h4>
            <p>
                深度学习入门简介，纯小白入门教程，适合无任何基础的同学入门。来自https://www.youtube.com，由牛客网提供中文字幕，经作者授权发布。特别感谢@钱龙翻译的字幕。
            </p>
            <input type="button" class="btn btn-success" value="马上听课">
        </div>
        <div class="course" style="margin-top: 30px">
            <h4 class="header">课程内容</h4>

        </div>

    </div>
    <div class="col-md-4">
        <h4 class="header">他们也在学</h4>
        <ul class="student_list">
            <li>

            </li>
        </ul>
    </div>
</div>


{include file="footer"}

<script>
    //导航栏的选中显示，请修改下面的这行代码，在自己负责的页面部分，写入响应的id
    $('#course').addClass("active");
</script>