{include file="header"}
<!--引入css样式文件-->
<link rel="stylesheet" href="_PUBLIC_/static/index/css/question.css">
<div class="container" style="margin-top: 30px">
    <h4>职位：</h4>
    <ul class="company_list">
        <li id="java"><p class="position">java工程师</p></li>
        <li><p class="position">java工程师</p></li>
        <li><p class="position">java工程师</p></li>
        <li><p class="position">java工程师</p></li>
        <li><p class="position">java工程师</p></li>
        <li><p class="position">java工程师</p></li>
        <li><p class="position">java工程师</p></li>
        <li><p class="position">java工程师</p></li>
        <li><p class="position">java工程师</p></li>
    </ul>
    <h4 style="clear: both">方向:</h4>
    <ul class="company_list">
        <li><p class="position">java工程师</p></li>
        <li><p class="position">java工程师</p></li>
        <li><p class="position">java工程师</p></li>
        <li><p class="position">java工程师</p></li>
        <li><p class="position">java工程师</p></li>
        <li><p class="position">java工程师</p></li>
        <li><p class="position">java工程师</p></li>
        <li><p class="position">java工程师</p></li>
        <li><p class="position">java工程师</p></li>
    </ul>
</div>
<div class="container" style="clear: both">
    <span style="float: left;padding: 5px;font-size: 16px">已选择分类： </span>
    <ul class="company_list">
        <li><p class="position">java工程师</p></li>
        <li><p class="position">java工程师</p></li>
    </ul>
</div>

<div class="container" style="background-color: white;padding-top: 20px">
    <div class="queueBox">
        <ul class="queueList">
            <li class="queue_ist">
                <h4 class="question_title">京东真题</h4>
                <img  class="question_img" src="https://static.nowcoder.com/images/weblogo/color_logo/jd-80x80.png" alt="">
                <p class="heat">热度指数： 123</p>
                <div class="check">
                    <p class="total">共88道题</p>
                    <input type="button" class="btn btn-success check_btn" value="查看详情">
                </div>
            </li>
            <li class="queue_ist">
                <h4 class="question_title">京东真题</h4>
                <img  class="question_img" src="https://static.nowcoder.com/images/weblogo/color_logo/jd-80x80.png" alt="">
                <p class="heat">热度指数： 123</p>
                <div class="check">
                    <p class="total">共88道题</p>
                    <input type="button" class="btn btn-success check_btn" value="查看详情">
                </div>
            </li>
            <li class="queue_ist">
                <h4 class="question_title">京东真题</h4>
                <img  class="question_img" src="https://static.nowcoder.com/images/weblogo/color_logo/jd-80x80.png" alt="">
                <p class="heat">热度指数： 123</p>
                <div class="check">
                    <p class="total">共88道题</p>
                    <input type="button" class="btn btn-success check_btn" value="查看详情">
                </div>
            </li>
            <li class="queue_ist">
                <h4 class="question_title">京东真题</h4>
                <img  class="question_img" src="https://static.nowcoder.com/images/weblogo/color_logo/jd-80x80.png" alt="">
                <p class="heat">热度指数： 123</p>
                <div class="check">
                    <p class="total">共88道题</p>
                    <input type="button" class="btn btn-success check_btn" value="查看详情">
                </div>
            </li>
            <li class="queue_ist">
                <h4 class="question_title">京东真题</h4>
                <img  class="question_img" src="https://static.nowcoder.com/images/weblogo/color_logo/jd-80x80.png" alt="">
                <p class="heat">热度指数： 123</p>
                <div class="check">
                    <p class="total">共88道题</p>
                    <input type="button" class="btn btn-success check_btn" value="查看详情">
                </div>
            </li>
            <li class="queue_ist">
                <h4 class="question_title">京东真题</h4>
                <img  class="question_img" src="https://static.nowcoder.com/images/weblogo/color_logo/jd-80x80.png" alt="">
                <p class="heat">热度指数： 123</p>
                <div class="check">
                    <p class="total">共88道题</p>
                    <input type="button" class="btn btn-success check_btn" value="查看详情">
                </div>
            </li>
            <li class="queue_ist">
                <h4 class="question_title">京东真题</h4>
                <img  class="question_img" src="https://static.nowcoder.com/images/weblogo/color_logo/jd-80x80.png" alt="">
                <p class="heat">热度指数： 123</p>
                <div class="check">
                    <p class="total">共88道题</p>
                    <input type="button" class="btn btn-success check_btn" value="查看详情">
                </div>
            </li>
            <li class="queue_ist">
                <h4 class="question_title">京东真题</h4>
                <img  class="question_img" src="https://static.nowcoder.com/images/weblogo/color_logo/jd-80x80.png" alt="">
                <p class="heat">热度指数： 123</p>
                <div class="check">
                    <p class="total">共88道题</p>
                    <input type="button" class="btn btn-success check_btn" value="查看详情">
                </div>
            </li>

        </ul>
    </div>
</div>



{include file="footer"}

<script src="_PUBLIC_/static/index/js/question.js" type="text/javascript"></script>

<script>
    //导航栏的选中显示，请修改下面的这行代码，在自己负责的页面部分，写入响应的id
    $('#questionBank').addClass("active");
    $('#java').click(function () {
        var allUnivList = [{
            "id": 3,
            "univs": [{
                "id": 1001,
                "name": "清华大学"
            },
                {
                    "id": 1002,
                    "name": "北京大学"
                }],
            "country_id": 0,
            "name": "北京"
        }]
        $.ajax({
            url: "../public/index/question_bank.php?action = 'getdata'",
            type: "post",
            data: { allcity: allUnivList},
            success: function (data) {
                alert(data);
                console.log(data)
            },
            error: function () {
                alert("系统异常!");
            }
        });
    })

</script>