
<!--底部栏-->
<div style="height: 80px"></div>
<section class="footer">
    <div class="container" >
        <div class="col-md-4">
            <p style="margin-top: 30px;font-size: 20px;color: white">E客网，程序员必备求职神器</p>
            <p>QQ群：169195721</p>
            <p>微 信：www_nowcoder_com
                <input type="button" class="btn-primary footer_btn" value="关注">
            </p>
            <p>微 博：E客网
                <input type="button" class="btn-primary footer_btn" value="关注">
            </p>
        </div>
        <div class="col-md-4">
            <img class="v_code" src="https://uploadfiles.nowcoder.com/app/app_download.png" alt="">
            <p class="scan">扫一扫，把题目装进口袋</p>
        </div>
        <div class="col-md-4">
            <div class="main_link">
                <ul class="link_list">
                    <li>关于我们</li>
                    <li>加入我们</li>
                    <li>意见反馈</li>
                    <li>企业服务</li>
                    <li>网站合作</li>
                    <li>免责声明</li>
                    <li>友情链接</li>
                </ul>
                <p style="clear: both;padding-top: 20px">浙ICP备14000860号-2</p>
                <p> 京公网安备 110114020100785</p>
                <p>E客网©2017 All Rights Reserved</p>
            </div>
        </div>
    </div>

</section>
<script src="_PUBLIC_static/library/bootstrap/js/bootstrap.min.js"></script>
<script src="_PUBLIC_static/index/js/home.js" type="text/javascript"></script>
</body>
</html>