<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>E客网</title>
    <script type="text/javascript" src="_PUBLIC_/static/library/jquery/jquery-3.2.1.min.js"></script>

    <link rel="stylesheet" href="_PUBLIC_/static/library/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="_PUBLIC_/static/library/fontasome/css/font-awesome.min.css">

    <link rel="stylesheet" href="_PUBLIC_/static/index/css/common.css">

</head>
<style>
    * {
        margin: 0px;
        padding: 0px;
    }
</style>
<body class="body">

<section class="header container">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
        <div class="container">
            <div class="navbar-header brand">
                <a class="navbar-brand icon" href="#">E客网</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
                <ul class="nav navbar-nav">
                    <li id= "home" class="navbar_li"><a href="{:url('../public/index/index/home')}">首页</a></li>
                    <li id="questionBank" class="navbar_li"><a href="#" >题库</a></li>
                    <li id="course" class="navbar_li"><a href="#">课程</a></li>
                    <li id="job" class="navbar_li"><a href="#">求职</a></li>
                    <li id="it" class="navbar_li"><a href="#">IT</a></li>
                    <li id="forum" class="navbar_li"><a href="{:url('../public/forum/forum/forum')}">讨论区</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="input-group search_bar">
                            <input type="text" class="form-control in_search" placeholder="搜索"
                                   aria-describedby="basic-addon2">
                            <span class="input-group-addon search_icon" id="basic-addon2">
                                    <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </li>
                    <li class="no_login">
                        <ul class="ul_bar">
                            <li>
                                <a href="{:url('userManage/login')}">登陆</a>
                            </li>
                            <li>
                                <a href="{:url('userManage/register')}">注册</a>
                            </li>
                        </ul>
                    </li>
                    <li class="have_login">
                        <a href="#">
                            <i class="fa fa-envelope" aria-hidden="true" style=""></i> &nbsp;消息
                        </a>
                    </li>
                    <li class="have_login icon_li">
                        <img src="http://www.jcodecraeer.com/uploads/userup/15410/myface.png" alt="" class="user_icon">
                        <div class="img_hover">
                            <ul>
                                <li><i class="fa fa-envelope" aria-hidden="true" style=""></i>&nbsp;&nbsp;个人主页</li>
                                <li><i class="fa fa-envelope" aria-hidden="true" style=""></i>&nbsp;&nbsp;账号设置</li>
                                <li><i class="fa fa-envelope" aria-hidden="true" style=""></i>&nbsp;&nbsp;我的文章</li>
                                <li><i class="fa fa-envelope" aria-hidden="true" style=""></i>&nbsp;&nbsp;退出登陆</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>