{include file="../application/index/view/header.html"}
<div class="container">
	<div>
		<h2>论坛</h2>
		<a href="{:url('publish')}" class="btn btn-success">发帖</a>
	</div>
	<table class="table table-hover">
		<tr>
			<th>类型</th>
			<th>贴子标题</th>
			<th>操作</th>
			<th>浏览次数</th>
		</tr>
		{volist name = 'post_list' id = 'info'}
		<tr>
			<td>{$info.cat_name}</td>
			<td>{$info.post_title}</td>
			<td><a href="{:url('preview',['post_id'=>$info.post_id])}" class="btn btn-info" target="_blank">查看</a></td>
			<td>{$info.post_heat}</td>
		</tr>
		{/volist}
	</table>
	{$post_list->render()}
</div>
{include file="../application/index/view/footer.html"}
