{include file="header"}

<link href="_PUBLIC_/static/android/css/style.css" rel='stylesheet' type='text/css'/>
<link rel="stylesheet" type="text/css" href="_PUBLIC_/static/android/css/magnific-popup.css">
<script type="application/x-javascript"> addEventListener("load", function () {
    setTimeout(hideURLbar, 0);
}, false);

function hideURLbar() {
    window.scrollTo(0, 1);
}
</script>
<script type = "text/javascript"src = "_PUBLIC_/static/android/js/move-top.js" ></script>
<script type="text/javascript" src="_PUBLIC_/static/android/js/easing.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
        });
    });
</script>

<link href='https://fonts.googleapis.com/ css?family=Arimo:400,700,400italic,700italic' rel='stylesheet'
      type='text/css'>
<link href='https://fonts.googleapis.com/ css?family=Oswald:400,300,700|Open+Sans:400italic,600italic,400,300,600,700,800'
      rel='stylesheet' type='text/css'>


<div class="main">
    <div class="header">
        <div class="container">

            <div class="top-nav">
                <span class="menu"> </span>
                <ul>
                    <li class="active"><a href="index.html">关于我们</a></li>
                    <li><a href="donate.html">我们的课程</a></li>
                    <li><a href="contact.html">联系我们</a></li>
                    <div class="clearfix"></div>
                </ul>
            </div>

            <div class="search-box">
                <div id="sb-search" class="sb-search">
                    <form>
                        <input class="sb-search-input" placeholder="Enter your search term..." type="search"
                               name="search" id="search">
                        <input class="sb-search-submit" type="submit" value="">
                        <span class="sb-icon-search"> </span>
                    </form>
                </div>
            </div>

            <script src="_PUBLIC_/static/android/js/classie.js"></script>
            <script src="_PUBLIC_/static/android/js/uisearch.js"></script>
            <script>
                new UISearch(document.getElementById('sb-search'));
            </script>
            <div class="clearfix"></div>
        </div>
        <script>
            $(document).ready(function () {
                $("span.menu").click(function () {
                    $(".top-nav ul").slideToggle(300);
                });
            });
        </script>
        <div class="clearfix"></div>
    </div>
</div>
<div class="banner">
    <div class="slider-caption">
        <h2>做移动互联时代的王者</h2>
        <p> 点亮梦想，拒绝平庸！</p>
        <div class="learn-button">
            <a class="slide-btn" href="#">从现在开始</a>
        </div>
    </div>
</div>
<div class="Service-section">
    <div class="container">
        <div class="service-grids">
            <div class="col-md-4 service-grid">
                <h3>我们的任务</h3>
                <p></p>
            </div>
            <div class="col-md-4 service-grid">
                <h3>工作</h3>
                <p></p>
            </div>
            <div class="col-md-4 service-grid">
                <h3>如何帮助</h3>
                <p></p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="Stories-section">
    <div class="container">
        <div class="ad728x90" style="text-align:center">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-9153409599391170"
                 data-ad-slot="8639520288"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>

        <table>
            <tr>
                <p>
                    <img src="_PUBLIC_/static/android/images/1.jpg"><img src="_PUBLIC_/static/android/images/4.jpg"><img src="_PUBLIC_/static/android/images/3.jpg">
                </p>
            </tr>
        </table>

    </div>
</div>
</div>
<div class="parts-section">
    <div class="container">
        <div class="ad728x90" style="text-align:center">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-9153409599391170"
                 data-ad-slot="8639520288"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <table>
            <tr>
                <p>
                    <img src="_PUBLIC_/static/android/images/10.jpg"><img src="_PUBLIC_/static/android/images/11.jpg"><img src="_PUBLIC_/static/android/images/12.jpg"><img src="_PUBLIC_/static/android/images/13.jpg"><img
                        src="_PUBLIC_/static/android/images/14.jpg">
                </p>
            </tr>
        </table>

        <div class="clearfix"></div>
    </div>
</div>
</div>
<div id="gallery" class="Gallery">
    <div class="container">
        <div class="ad728x90" style="text-align:center">

        </div>

</div>
</div>
        {include file="footer"}
        <script>
            //导航栏的选中显示，请修改下面的这行代码，在自己负责的页面部分，写入响应的id
            $('#home').addClass("active");

        </script>