.main_body{
    padding-top: 15px;
    padding-bottom: 80px;
    background-color: white;
    box-shadow: 0 8px 2px 2px rgba(7,17,27,.06);
}
.slide{
    height: 400px;
}
.carousel-inner>.item  .slide_img{
    height: 400px;  !important;
    width: 100%;
}

.recommend_article{
    margin-top: 0px;
    font-size: 18px;
    font-weight: bold;
}
.recommend_list li{
    list-style: none;
    font-size: 16px;
    color: #666;
    padding: 5px 0px;
}

.recommend_list li:hover{
    color: orangered;
    cursor: pointer;
}
.recommend_list li .link{
    text-decoration: none;
    color: #666;
    line-height: 25px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-height: 25px;
    transition: all .3s;
}
.recommend_list li .link:hover{
    text-decoration: none;
    color: orangered;
    cursor: pointer;
}
.class_box{
    height: 200px;
    width: 100%;
    margin-top: 60px;
}
.class_title{
    position: relative;
    font-size: 14px;
    color: #93999F;
    letter-spacing: .6px;
    line-height: 36px;
    text-align: center;
}

.class_title .tit-icon{
    display: inline-block;
    vertical-align: bottom;
    width: 53px;
    height: 36px;
    background: url(../img/icon.png) no-repeat;
    background-size: 100%;
}
.class_title .icon-new-l{
    background-position: center -72px;
}
.class_title .tit-icon-l{
    margin-right: 24px;
}
.class_title em{
    font-size: 20px;
    font-weight: 600;
    color: #4D555D;
    margin: 0 3px;
}
.class_title .icon-new-r{
    background-position: center -108px;
}
.class_title .tit-icon-r{
    margin-left: 24px;
}
.class_title .icon-recommend-l{
    background-position: center -136px;
}
.class_title .icon-recommend-r{
    background-position: center -170px;
}
.class_list{
    margin-top: 20px;
}
.class_list .class_li{
    width: calc((100% - 20px*4)/5);
    padding: 10px 15px;
    list-style: none;
    float: left;
    background: white;
    text-decoration: none;
}
.class_list .class_li:hover{
    text-decoration: none;
}
.class_list .class_li .a_div:hover{
    text-decoration: none;
}
.class_list .class_li + .class_li{
    margin-left: 20px;
}
.class_list .class_img{
    height: 120px;
    width: 100%;
    border-radius: 5px;
}
.class_list .class_description{
    margin-top: 15px;
    font-size: 16px;
    color: #07111B;
    line-height: 24px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 46px;
    transition: all .3s;
}
.class_list .class_description:hover{
    color: orangered;
    text-decoration: none;
}
/*文章模块*/
.article_section{
    margin-top: 100px;
    padding-bottom: 50px;
    background-color: white;
    box-shadow: 0px -5px 5px 2px rgba(7,17,27,.06);
}
.article_section .heat_article{
    margin-top: 30px;
}
.article_section .article_list{
    width: 100%;
    padding-right: 10px;
    border-right: #ebe0ef solid 1px;
}
.article_section .article_list>li{
    list-style: none;
    margin-top: 20px;
    height: 130px;
    position: relative;
}
.article_section .article_list .img{
    height: 130px;
    width: 200px;
    float: left;
}
.article_section .article_list .article_description{
    float: right;
    width: calc(100% - 220px);
}
.article_section .article_list  .article_description .article_title{
    text-decoration:none;
    color: black;
    font-size: 18px;
}
.article_section .article_list  .article_description .article_title:hover{
    color: orangered;
}
.article_section .article_list  .article_description .article{
    margin-top: 10px;
    line-height: 24px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 90px;
    transition: all .3s;
}
.article_description .list_msg{
    position: absolute;
    bottom: 0;
}

.article_description .list_msg .list-user{
    float: left;
    color: #999;
    text-decoration: none;
    list-style: none;
}
.article_description .list_msg .list-user a,span{
    color: #999;
}

.article_description .list_msg .list-msg{
    color: #999;
    float: left;
    list-style: none;
    margin-left: 20px;
}
.glyphicon-class{

    padding-right: 20px;
}
.article_description .list_msg .update_time{
    color: #999;
    float: right;
    list-style: none;
}
.comment_list{
    list-style: none;
    height: auto;
    clear: both;
    padding-top: 15px;
}
.comment_list .img{
    float: left;
    width: 40px;
    height: 40px;
}
.comment_list .comment_rightBox{
    float: right;
    width: calc(100% - 50px);
}
.comment_list .comment_rightBox .user_name{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.comment_list .comment_rightBox .user_name:hover{
    color: orangered;
}
.comment_list .comment_rightBox .comment{
    color: #6c6c6c;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 20;
    -webkit-box-orient: vertical;
    transition: all .3s;
}
.comment_list .comment_rightBox .list-msg{
    list-style: none;
    float: left;
}
.comment_list .comment_rightBox .update_time{
    list-style: none;
    float: right;
}
